body {
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    background-color:#f1f0f3;
  }
  .header {
    background-color: #F6F5AE;
    animation-name: fadein;
    object-fit: cover;
    text-align: center;
    background-size: cover;
    padding-bottom:600px;
    padding-top:100px;
    font-size:24px;
    color:  rgb(43, 40, 224);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    animation:1s;
    animation-name:fadein;
  }

  .header1 {
    background-color: #F6F5AE;
    animation-name: fadein;
    object-fit: cover;
    background-size: cover;
    padding-bottom:600px;
    padding-top:100px;
    font-size:24px;
    color:  rgb(43, 40, 224);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    animation:1s;
    animation-name:fadein;
  }

  .headerlanding {
    background-color: #F6F5AE;
    animation-name: fadein;
    object-fit: cover;
    text-align: center;
    background-size: cover;
    padding-bottom:310px;
    padding-top:100px;
    font-size:24px;
    color:  rgb(43, 40, 224);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    animation:1s;
    animation-name:fadein;
  }
  .headertext {
    text-align:left;
  }
  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }
  #big {
    font-size:35pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  #small {
    font-size:13pt;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 14px;
    color:black;
  }
  #smaller{
    color:rgba(0,0,0,0.54);
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 14px;
    padding:14px;
    margin-top:40px;
    background-color:white;
  }
  #smaller:hover{
    animation-name: buttonhover;
    animation-duration: 3s;
  }
  @keyframes buttonhover {
    from {background-color: white}
    to {background-color: darkgray}
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    animation-name: fadein;
    animation-duration: 2s;
    z-index: 10;
  }
  
  li a {
    display: block;
    color: rgba(0,0,0,0.54);
    font-weight:500;
    font-size: 13px;
    font-stretch:100%;
    text-align: center;
    padding-left:25px;
    padding-right:25px;
    padding-top:25px;
    padding-bottom:25px;
    text-decoration: none;
    float: right;
    position: sticky;
  }
  #special:hover {
    animation-name: logohover;
    animation-duration: 4s;
  }
  #soundcloud {
    padding-top:100px;
  }
  @keyframes logohover {
    from {background-color: white;
      color:black;}
    to {background-color: black;
      color:white;}
  }
  @keyframes hover {
    from {background-color: white;}
    to {background-color: #D7D7D7;}
  }
  li a:hover {
    animation-name: hover;
    animation-duration: 4s;
  }
  .active {
    box-sizing: border-box;
  }
  .row {
    background-color:#f1f0f3;
    margin-bottom:150px;
    position:static;
  }
  .row > .column {
    padding: 0 8px;
  }
  .row:after {
    content: "";
    display: table;
  }
  .column {
    float: left;
    width: 20%;
    margin:20px;
    margin-left:40px;
  }
  img {
    margin-bottom: -4px;
    filter: contrast(75%);
  }
  img.hover-shadow {
    transition: 1s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
    filter: contrast(120%)saturate(120%);
  }
  .headingtext {
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    padding-bottom:10px;
  }
  .headingtext1 {
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    color:rgba(0,0,0,0.54);
    padding-bottom:30px;
  }
  .overlay {
    opacity:0;
    transition:1s;
  }
  .column:hover .overlay {
    opacity: 1;
  }
  .text {
    text-align:center;
    padding-top:23px;
    color:red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .uav {
    text-align:center;
    font-size:12px;
    padding-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:red;
  }
  
  
  ul.specul {
    position:absolute;
    background-color:#f1f0f3;
    top:1100px;
    display:flex;
    margin:0;
    padding-top:80px;
    width:100%;
    height:50%;
    justify-content: center;
  }
  ul.specul li.spec {
    list-style:none;
    margin:0 5px;
  }
  ul.specul li.spec a.speca .fa {
    font-size: 40px;
    color: blue;
    padding-top:0px;
    transition: .5s;
    padding-right: 3px;
  }
  ul.specul li.spec a.speca span {
    font-family:"lato";
    transform: translateY(-7.5px);
    padding:0;
    margin-top:0;
    position:absolute;
    color: #262626;
    letter-spacing: 2px;
    transition: .5s;
  }
  ul.specul li.spec a.speca {
    text-decoration: none;
    display:absolute;
    display:block;
    width:105px;
    height:40px;
    background: #fff;
    text-align:left;
    padding-left: 10px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul.specul li.spec a.speca:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul.specul li.spec a.speca:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  ul.specul li.spec a.speca:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  ul.specul li.spec:hover .fa {
    color:#fff;
  }
  ul.specul li.spec:hover span {
    color:#fff;
  }
  ul.specul li.spec:hover:nth-child(2) a.speca:before{
    background: #365492;
  }
  ul.specul li.spec:hover:nth-child(2) a.speca:after{
    background: #4a69ad;
  }
  ul.specul li.spec:hover:nth-child(3) a.speca:before{
    background: #097aa5;
  }
  ul.specul li.spec:hover:nth-child(3) a.speca:after{
    background: #53b9e0;
  }
  ul.specul li.spec:hover:nth-child(4) a.speca:before{
    background: #b33a2b;
  }
  ul.specul li.spec:hover:nth-child(4) a.speca:after{
    background: #e66a5a;
  }
  ul.specul li.spec:hover:nth-child(5) a.speca:before{
    background: #d81c3f;
  }
  ul.specul li.spec:hover:nth-child(5) a.speca:after{
    background: #e46880;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 15px;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  
  

  .sidenav0 {
    height: 30%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: -300;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.1;
    border-radius: 10px;
  }

  .sidenav0 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111111;
    display: block;;
  }

  .sidenav0:hover {
    opacity:1;
  }

  .sidenav0 a:hover {
    color: #95F2D9;
  }

  .sidenav1 {
    height: 30%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: -300;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.1;
    border-radius: 10px;
  }

  .sidenav1 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111111;
    display: block;;
  }

  .sidenav1:hover {
    opacity:1;
  }

  .sidenav1 a:hover {
    color: red;
  }

  .sidenav2 {
    height: 30%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: -300;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.1;
    border-radius: 10px;
  }

  .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111111;
    display: block;;
  }

  .sidenav2:hover {
    opacity:1;
  }

  .sidenav2 a:hover {
    color: green;
  }

  .sidenav3 {
    height: 30%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: -300;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.1;
    border-radius: 10px;
  }

  .sidenav3 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111111;
    display: block;;
  }

  .sidenav3:hover {
    opacity:1;
  }

  .sidenav3 a:hover {
    color: purple;
  }
  /* Login Function CSS*/
  * {box-sizing: border-box}
  /* Full-width input fields */
    input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  .row {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: none;
  }

  .rowtext {
    font-size: 12px;
  }

  .column1 {
    width: 10px; 
  }

  .interest {
    text-align:center;
  }
/* personal questions css */
.flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 41, 41);
  flex-direction: column;
  margin: 0px auto;
  width: 50%;
  margin-top: 60px;
  border-radius: 5px;
}

.flex-container > div {
  background-color: rgb(46, 41, 41);
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .signup {
  mar
} */

.input-parent {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  /* padding: 20px;
  padding: auto; */
}

.inputs {
  border: none;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.labels {
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
}

/* Search Bar */
form.example input[type=text] {
  padding: 500px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 50%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* login with email css */
.main-div, .loggedin-div {
  width: 55%;
  margin: 0px auto;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}


.bruh {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1; 
}


/* dropdown css */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  width: 800px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 10;
  margin-left: 123.7px;
  margin-right: 120px;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
